In [1]:
# Take input from user
sentence = input("Enter sentence: ")

# Split sentence into words
words = sentence.split()

# Convert list to set to get unique words
unique_words = set(words)

# Print results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'powerful', 'and', 'easy', 'python', 'is'}

In [2]:
# Given dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Find employee with highest salary
highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

# Print result
print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [3]:
numbers = [45, 22, 89, 10, 66]

# Initialize max and min with first element
maximum = numbers[0]
minimum = numbers[0]

# Loop through the list
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

# Print results
print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
prices = [450, 1200, 899, 1500, 300]

count = 0  # initialize counter

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [5]:
attendance = ["P", "P", "A", "P", "P"]

present_count = 0

# Count number of "P"
for day in attendance:
    if day == "P":
        present_count += 1

# Calculate percentage
total_days = len(attendance)
percentage = (present_count / total_days) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [6]:
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set to remove duplicates
unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [7]:
text = "pythonp"

frequency = {}

for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
numbers = [10, 20, 30]

# Convert list to tuple
result = tuple(numbers)

print("Tuple:", result)

Tuple: (10, 20, 30)

In [9]:

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

key_to_check = "Ravi"

if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [10]:

marks = [70, 75, 80, 65]   # Example marks

total = sum(marks)
count = len(marks)

average = total / count

print("Average Marks:", average)

Average Marks: 72.5